.FooterClass{
    left: 0;
    bottom: 0;
    width: 100%;
   background-color: #669933;
   height: 10%;
   min-height: 50px;
   border-top: 2px solid black;
   margin-top: 30px;
 }
 .FooterClass a{
   text-decoration: none;
 color: black;
   }
   .FooterClass :hover{
     color: yellow;
     text-decoration: overline;
   }

.header-image
  {
  width:100%;
  max-height:100%;
  height: 200px;
  overflow: hidden;
  background-position: 50% 50%;
  display:block;
  margin: auto 0;

  background-image:url('flowers.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  } 
  .topnav {
    overflow: hidden;
    background-color: #ff872b;
    background:
       radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
       radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
       linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
       linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
       linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
       linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
       background-size:40px 60px;
       box-shadow: 5px 2px 5px black;
  }
  .noHive {
      background-color: rgb(255, 186, 8);
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    height: 60px;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    border-right: 2px solid rgba(255, 255, 255, 0.35);
       box-shadow: 1px 2px 3px black;
       text-shadow: 1px 1px 1px white;
  }

  .topnav a:hover {
    background-image: url("BetterBee.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
  }
  .active {
    background-color: #4CAF50;
    color: white;
  }

  .topnav .icon {
    display: none;
  }
  @media screen and (max-width: 730px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {
      position: relative;
      }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
      background: rgb(255, 186, 8);
    }
    .topnav a:nth-child(6){
      float:left !important;
    }
    .topnav{
      background: rgb(255, 186, 8) !important;
    }
  }