<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>
	<img class='header-image'>
<a style='padding: 0;' id='logo'><img src='BetterBee.png' alt='Logo' style='position: absolute; top: 3%; left: 3%;width: 60px; height: auto;'></a>
<div class='topnav' id='myTopnav'>
  <a class='noHive' href='index.php' class='active'>Home</a>
  <a class='noHive' href='shop.php'>Marktplatz</a>
  <a class='noHive' href='gewinnspiel.php'>Gewinnspiel</a>
  <a class='noHive' href='verein.php'>Verein</a>
  <a class='noHive' href='patenschaft.php'>Patenschaft</a>
<a class='active' href='register.php' style='float:right; width: 115px;'>Register</a>
<a class='active' href='login.php' style='float:right; width: 115px;'>Login</a>
<!-- <a href='javascript:void(0);' class='icon noHive' onclick='myFunction()'><span style='font-size: 14pt;color: black;'>&#9776;</span></a> -->
</div>
<router-outlet></router-outlet>
